.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  margin-bottom: 2rem;
}

.btn > a {
  display: inline-block;
  padding: 5px 10px;
  background-color: aqua;
  border-radius: 15px;
  text-decoration: none;
  color: black;
}

.btn > a:hover {
  background-color: blue;
  color: white;
}
